/* app css stylesheet */

@bgcolor: rgba(255, 194, 0, 0.18);
@bgcolorOpaque: rgb(255, 241, 184);
@menubackground: rgba(165, 42, 42, 0.34);
@kerkovifg: rgba(24, 107, 178, 0.9);
@minderfg: #186BB2;
@secondRowColor: tint(#492B29, 0%);

body {
  background-color: @bgcolor;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  color: #333;
  max-width: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
}

.container {
  width: 90%;
  margin: -1px 5% 5px 5%;
  box-shadow: 0 0px 5px rgba(1, 1, 1, 0.7);
}

.bigcancel {
  padding: 2px 10px 2px 10px;
  border-radius: 0 10px 0 0;
  font-size: 14px;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

.extra {
  color: rgb(255, 156, 0);
  text-shadow: 1px 2px 3px @bgcolor, 0 0 0 #111, 1px 2px 3px @bgcolor;
}

.kerkovi {
  color: @kerkovifg;
  text-shadow: 1px 2px 3px @vari, 0 0 0 rgba(0, 0, 0, .7), 1px 2px 3px @vari;
  font: bold normal 70px "Titillium Web";
}

.subtitle {
  font-family: "Titillium Web";
  white-space: nowrap;
  font-size: 20px;
}

.titleFirstRow {
  background-color: fadein(@bgcolor, 20%);
}

.titleSecondRow td {
  background-color: @secondRowColor; //darken(fadein(@bgcolor, 30%), 10%);
  height: 50px;
  color: tint(@bgcolor, 50%); //fadein(@bgcolor, 20%);
  //border-right: 1px solid rgba(2, 2, 2, 0.28);
  //border-left: 1px solid rgba(2, 2, 2, 0.28);
  //border-top: 1px solid rgba(250, 250, 250, 0.27);
}

.lessop {
  opacity: 1;
}

@vari: fadeout(tint(@menubackground, 50%), 30%);

table {
  border-spacing: 0px;
  border-collapse: separate;
}

.theEsens {
  background: url('/img/esens-testbed.png');
  width: 110px;
  height: 30px;
  display: inline-block;
  background-position-y: 2px;
  background-repeat: no-repeat;
  //box-shadow: inset 0 0 10px rgba(255,255,255,0.5), 0 0 40px rgba(255,255,255,0.5) ;
}

.minderlogo {
  overflow: hidden;
  height: 29px;
}

#mainView {
  margin: 0;
  padding: 15px;
  //box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 9px 2px;//, rgba(1, 1, 1, 0.7) 0px 0px 5px;
  //border-radius: 0 0 10px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  //border-right: 1px solid rgba(2, 2, 2, 0.28);
  //border-left: 1px solid rgba(2, 2, 2, 0.28);
  //border-bottom: 1px solid rgba(250, 250, 250, 0.27);
  min-height: 400px;
}

ul.menu {
  height: 30px;
  list-style: none;
  padding-top: 5px;
  background-color: fadein(@bgcolor, 30%);
  //border-radius: 10px 10px 0 0;
  //border-right: 1px solid rgba(2, 2, 2, 0.28);
  //border-left: 1px solid rgba(2, 2, 2, 0.28);
  //border-top: 1px solid rgba(250, 250, 250, 0.27);
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
  margin: 0;
  overflow: hidden;
}

ul.menu li {
  display: inline;
  position: relative;
  padding: 50px 10px 50px 10px;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
}

ul.menu li:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1) 0 1px 0;
}

ul.menu li > a {
  color: @minderfg;
  //text-shadow: 1px 1px 2px @vari, 0 0 0 rgba(0, 0, 0, 1), 1px 1px 2px @vari;
  padding: 6px;
  font: bold normal 18px "Titillium Web", Raleway, 'Titillium Web', sans-serif;
}

ul.menu li.active {
  border-left: 1px solid #595959;
  border-right: 1px solid #595959;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.4), inset 0 0 14px 7px #f9fbff;
}

ul.menu li.active > a {
  text-shadow: 1px 2px 4px @bgcolor, 0 0 0 #000, 1px 2px 4px @bgcolor;
}

ul.menu li:last-child {
  float: right;
  top: -50px;
  margin-right: 10px;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 6em;
  line-height: 1em;
}

.gomulu {
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.4)
}

.inset-text {
  /* Shadows are visible under slightly transparent text color */
  color: rgba(10, 60, 150, 0.1);
  text-shadow: 1px 4px 6px @bgcolor, 0 0 0 #000, 1px 4px 6px @bgcolor;
}

/* Don't show shadows when selecting text */
::-moz-selection {
  background: @bgcolor;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: @bgcolor;
  color: #fff;
  text-shadow: none;
}

@errorBack: #fa757c;

.errorDialog {
  background-color: @errorBack;
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  box-shadow: rgba(1, 1, 1, 0.7) 0px 0px 10px 5px;
}

.errorDialogContent {
  width: 100%;
  height: 100%;
  background-color: tint(@errorBack, 90%);
  overflow: scroll;
  border-radius: 0 0 10px 10px;
  //box-shadow: inset 1px 1px 5px #111, inset -1px -1px 5px #111;
}

.CodeMirror {
  font-family: 'Consolas', 'Monaco', monospace;
  font-size: 12px;
}

