<script>
  $(function(){
    setUpEditable($(".editable"))
  });
</script>
<div class="levha">
  <h3>Generic As4 Corner 1</h3>

  <p>Plays to role of <strong><em>Corner 1</em></strong>&nbsp;(e.g. the sending national backend) and&nbsp;submits messages to the&nbsp;<strong><em>backend</em></strong>&nbsp;of the AS4 compliant gateway. It also receives messages that have been relayed to Corner 2 (from Corner 3).</p>

  <h3>AS4 Adapter</h3>

  <p>Intercepts the message flow between&nbsp;<em><strong>Corner2</strong></em>&nbsp;and <em><b>Corner3&nbsp;</b></em>and depending on the <em><strong>Proxy</strong></em> setting, forwards the message either to <em><strong>Minder</strong></em> or its <em>target</em> (resolved from the TO_PARTY_ID)</p>

  <h3>Generic As4 Corner 4</h3>

  <p>Plays to role of&nbsp;<strong><em>Corner 4</em></strong>&nbsp;(e.g. the receiving national backend) and&nbsp;submits messages to the&nbsp;<strong><em>backend</em></strong>&nbsp;of the AS4 compliant gateway. It also receives messages that have been relayed to Corner 3.</p>


</div>
