<html>
  <head>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-2.1.4.min.js")"></script>
  </head>
</html>
<body>

  <script>
    function approve(id){
      $.ajax('/approve?id='+id)
          .done(function (data) {
            alert(data)
          })
          .fail(function (data) {
            alert(data.responseText);
          })
    }
  </script>
<table>

@for(gw <- Databeyz.all){
  @if(!gw.approved) {
    <tr><td>@gw.name</td><td>@gw.partyID</td><td>@gw.mshAddress</td><td>@gw.backendAddress</td><td><a onclick="approve(@gw.id)" href="#">
      Approve</a></td></tr>
  }
}
  </table>

</body>