<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AS4 Conformance and Interoperability Connectivity Manager</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-2.1.4.min.js")"></script>
    <script type="text/javascript" src="@routes.JSRoutesController.jsRoutes()"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/codemirror.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/active-line.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/xml.js")"></script>
    <script src="@routes.Assets.versioned("js/main.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("css/codemirror.css")" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/theme/mdn-like.css")" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/children.css")" />

    <script>
    $(function(){
      initializeMainMenu($("#mainView"), $("ul.menu li > a"))
      triggerMainMenuItem("main")
    });
  </script>
  </head>
  <body>
    <table class="container" align="center">
      <tr>
        <td>
          <table><tr><td>
            <img src="img/zebra-small.png"
            height="70px"
            about="http://www.wpclipart.com/cartoon/animals/horse/horse_cartoon_zebra_T.png" alt="Zebra"/>
          </td> <td>
            <div class="title"><b>Kerkovi</b><span style="font-size:small;color:#2A00FF">V0.6</span> <br/>The e-SENS Generic AS4 Conformance bridge</div>
          </td><td align="right" style="width:99%;">
            <img src="@routes.Assets.versioned("img/minder.png")" height="100"/>
          </td>
          </tr>
          </table>
          <br />
          <ul class="menu">
            <li><a href="#" page="@routes.Application.main()" id="main">

              <!--<img src="@routes.Assets.versioned("img/Home-64-2.png")" height="20" alt="Home"/>  -->
              Home
            </a></li>
            <li><a href="#" page="@routes.Application.gateways()" id="gateways">
                <!--<img src="@routes.Assets.versioned("img/Server-64-2.png")" height="20" alt="Gateways"/> -->
              Gateways
            </a></li>
            <li><a href="#" page="@routes.Application.logs()" id="logs">
                <!--<img src="@routes.Assets.versioned("img/Server-64-2.png")" height="20" alt="Gateways"/> -->
              Logs
            </a></li>
            <li><a href="#" page="@routes.Application.documentation()" id="documentation">
                <!--<img src="@routes.Assets.versioned("img/Rs 232 Male-64.png")" height="20" alt="Adapters"/> -->
              Documentation
            </a></li>
            <li><a href="#" page="@routes.Assets.versioned("pmodes.htm")" id="pmodes">
                <!--<img src="@routes.Assets.versioned("img/Rs 232 Male-64.png")" height="20" alt="Adapters"/> -->
              Backend PModes
            </a></li>
            <li><a href="#" page="@routes.Application.kerkovi()" id="kerkovi" class="kerkovi">What is kerkovi?</a></li>
          </ul>
          <div id="mainView">

          </div>

        </td>
      </tr>
    </table>

    <div id="errorDialog" class="errorDialog" title="Error">

    </div>

  </body>
</html>
