<div>

  <div>
    <div>
      <h3>Dictonary meaning</h3>
      <p>
        <b>Kerkovi</b> is a <a href="https://en.wikipedia.org/wiki/Kurdish_languages" target="_blank"><i>Kurdish</i>
      </a> word that stands for

        <a href="https://en.wikipedia.org/wiki/Zebra" target="_blank">
          <i>Zebra</i></a>

        .
      </p>

      <img src="/img/zebra.jpg" style="float : right ; margin : 10 px ;" class="gomulu" height="200" >
      <p>
    It stems from two words joined: Ker + kovi.</p>
      <p>
        <i><b>Ker</b></i> means <b><i>donkey</i></b> and <b><i>kovi</i></b> means <b><i>wild</i></b>.
        <br/>Therefore, <b><i>kerkovi</i></b> means <b><i>Wild donkey</i></b>.
      </p>
      <p>It does not have a common usage in the language. I have heard my parents use it in
        the

        <a href="https://en.wikipedia.org/wiki/Northern_Kurdish" target="_blank"><i>Kurmanji</i></a> dialect. Since there is no information
        about the word on the internet, I don't know whether it is also used in other
        dialects such as

        <a href="https://en.wikipedia.org/wiki/Zaza_language" target="_blank"><i>Zazaki</i></a> and
        <a href="https://en.wikipedia.org/wiki/Central_Kurdish" target="_blank"><i>Sorani</i></a>.
      </p>
      <p>
    The word popularly used is <i>'Zebra'</i>,
        and too few people know this beautiful word. Now you are one of them :)
  </p>
    </div>
  </div>
</div>
