@(currentPage: Int = 0)

<div class="levha">

  <script>

      function prevPage(page){
        var vnt = $(window.event);
        vnt.stop();

        $.ajax({
          type: 'GET',
          url: '/prevLogPage?currentPage=' + page,
        }).
        done(function (data) {
          $("#haburdanOyOy").html(data)
        }).
        fail(function (data) {
          showError(data.responseText)
        })
      }
      function nextPage(page){
        var vnt = $(window.event);
        vnt.stop();

        $.ajax({
          type: 'GET',
          url: '/nextLogPage?currentPage=' + page,
        }).
        done(function (data) {
          $("#haburdanOyOy").html(data)
        }).
        fail(function (data) {
          showError(data.responseText)
        })
      }
  </script>

  <h3>Logs</h3>

  <div id="haburdanOyOy">
  @logTableView(currentPage)
  </div>
</div>
