<h2>Kerkovi</h2>
<h4>The e-SENS AS4 Conformance connectivity management tool</h4>

<p>
  e-SENS AS4 conformance and interoperability testing environment
  consists of the national backend simulator, and the adapters that
  achieve connectivity between the AS4 compliant gateways and the testbed. Kerkovi
  is responsible of tracking the addresses of the gateways with respect to the party ID's
  and also performing the simple connectivity test (one_way, two_way)


</p>

<table><tr><td>
@theSVG()
</td><td style="vertical-align:top;">



<p>Click&nbsp;<strong><a href="#" onclick='triggerMainMenuItem("runTests")'>here</a></strong>
    &nbsp;to run tests on your gateway.
</p>

<p>If you want to register your gateway for testing please go
  to <a href="#" onclick='triggerMainMenuItem("settings")'>Settings</a> </strong> &nbsp;and add the&nbsp;
  <strong><em>PARTY ID</em></strong> <em>&nbsp;</em>
  and HTTP/S addresses of your gateway instances
  (one for corner 2 and one for corner 3)
</p>
</td>
</tr>
</table>
