<h2>Overview</h2>

<p>
  Kerkovi is the e-SENS generic AS4 Conformance & Interoperability bridge that achieves connectivity between the testing system (<b>Minder Testbed</b>
  ) and the AS4 compliant gateways.
</p>
<p>
  Kerkovi consists of three adapters (two national backend simulators and an AS4 interceptor).
  The backend adapters are capable of sending AS4 messages as backend submission messages to the AS4 gateways. They can also receive <i>delivery</i>
  , <i>submission result</i> and <i>notification</i> messages.
</p>

<p>
  Kerkovi is responsible of tracking the addresses of the gateways with respect to the party ID's
  and perform forwarding of messages with respect to the addresses it resolves from the party ID's.
</p>

<table>
  <tr><td style="padding:20px;vertical-align: top;">
    <table><tr><td style="vertical-align: top;"> @theSVG()</td></tr><tr><th> <label>The proposed AS4 conformance architecture</label></th></tr></table>
  </td> <td style="vertical-align:text-top ;">
    <h2>How to join</h2>
    <p><label>Step 1: </label> Register your gateway for testing at <strong><a href="#" onclick='triggerMainMenuItem("gateways")'>this</a> </strong> page &nbsp;and add the&nbsp;
      <strong><em>PARTY ID</em></strong> <em>&nbsp;</em>
      and <b>HTTP/S</b> addresses of your gateway instances
      (one for corner 2 and one for corner 3)
    </p>
    <p>
      <label>Step 2: </label> Read the <a href="#" onclick='triggerMainMenuItem("documentation")'>documentation</a> to learn more about the architecture and also to examine sample messages.
    </p>
    <p>
      <label>Step 3: </label> Read the <a href="#" onclick='triggerMainMenuItem("pmodes")'>backend PModes</a> for the details of the communication between C1-C2 and C3-C4.
    </p>
    <p>
      <label>Step 4: </label> Compare your actions with <a href="@routes.Application.index("documentation")#checklist">this checklist</a> to make sure that you don't leave anything behind.
    </p>

    <p>
      <br />
      <table>
    <tr><td><h3>Feel confused?</h3></td><td>&nbsp;</td><td rowspan="4"><img src="@routes.Assets.versioned("img/confused-minions.jpg")" height="150" alt="http://www.minionsmovie.com/despicableme.html"/><br /><span style="font-size:xx-small">© 2015 <a href="http://www.universalstudios.com" target="_blank">Universal</a> | <a href="http://www.minionsmovie.com/despicableme.html" target="_blank">Despicable Me</a></span></td></tr>
    <tr><th>Contact us:</th><td>&nbsp;muhammet.yildiz [at]<b></b><i></i> tubitak.gov.tr</td><td></td></tr>
    <tr><td></td><td>
        &nbsp;melis.cetinkaya [at]<b></b><i></i> tubitak.gov.tr</td><td></td></tr><tr><td></td></tr></table>
    </p>
  </td>
  </tr>
</table>
